/* #defaultLayout {
    display: flex;
}

.content {
    margin-left: 200px; Space for the sidebar
    padding: 10px;
    transition: margin-left 0.3s ease;
}

.content.collapsed {
    margin-left: 50px; Adjust space when sidebar is collapsed
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */